header {
    background-color: white;
}
#laralogo {
    width: 100%;
    display: inline-block;
}
.caixa {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 60%;
    right: 10%;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: red;
    text-decoration: underline;
}
.produtos li {
    display: inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    padding: 30px;
    margin: 0 1.5%;
    padding: 30px 30px;
    box-sizing: border-box;
    border-color: black ;
    border-width:2px ;
    border-style: solid ;
    border-radius: 10px;
}
.produtos li:hover {
    border-color: red;
}
.produtos li:hover h2 {
    font-size: 35px;
}
.produtos li:active{
    border-color: green;
}
.produtos {
    width: 940px;
    margin: auto;
    padding-bottom: 80px;
}
.produtos h2 {
    font-size: 28px;
    font-weight: bold;
}
.produtos img {
    width: 80%;
    padding-top: 10px;
}
.produtos p {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 0;
}
footer {
    text-align: center;
    padding: 80px 0;
    background: url("bg.jpg");
}
#squarelogo {
    width: 30%;
    padding-top: 90px;
}
.copy {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}
main {
    width: 940px;
    margin: auto;
}
form {
    margin: 40px 0;
}
form label {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
form input {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}